body {
	text-align: center;
	background: #202020;
}

.game {
	width: 460px;
	height: 460px;
	height: inherit;
	margin: 150px auto;
}

.square {
	width: 150px;
	height: 150px;
	border: 0px solid #D8C8B3;
	float: left;
	font-size: 25px;
	text-align: center;
	/* center images inside square*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.square:nth-child(3n+1) {
	clear: both;
}

.square:nth-child(5),
.square:nth-child(6n+2) {
	border-left: 3px solid #D8C8B3;
	border-right: 3px solid #D8C8B3;
}

.square:nth-child(5),
.square:nth-child(4),
.square:nth-child(6) {
	border-top: 3px solid #D8C8B3;
	border-bottom: 3px solid #D8C8B3;
}

.nextPlayer {
	color: #D8C8B3;
	font-size: 25px;
	font-family:'Lato', sans-serif;
	margin-top: 20px;
	-webkit-animation: flicker 3s infinite;
}

@-webkit-keyframes flicker {
	0% {opacity: .05}
	50% {opacity: 1}
	100% {opacity: .05}
}