.App {
	text-align: center;
}

.game {
	width: 460px;
	height: 460px;
	height: inherit;
	margin: 150px auto;
}

.square {
	width: 150px;
	height: 150px;
	border: 0px solid red;
	float: left;
	font-size: 25px;
	text-align: center;
	line-height: 150px;
}

.square:nth-child(3n+1) {
	clear: both;
}

.square:nth-child(5),
.square:nth-child(6n+2) {
	border-left: 3px solid red;
	border-right: 3px solid red;
}

.square:nth-child(5),
.square:nth-child(4),
.square:nth-child(6) {
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}